//---Подключение других библиотек---//
@import "nullstyle.scss";
//-------------------------------------
//---Подключение шрифтов---//
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-light.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-light.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-light.svg#gilroy-light') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/gilroy-extrabold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/gilroy-extrabold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/gilroy-extrabold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/gilroy-extrabold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/gilroy-extrabold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/gilroy-extrabold.svg#gilroy-extrabold') format('svg'); /* Chrome < 4, Legacy iOS */
		font-weight: 800;
}
//-------------------------------------
//---Глобалыние стили---//
body {
	font-family: 'Open Sans' 'Arial' sans-serif;
	color: 	#464646;
	font-size: 15px;
	padding: 10px 0;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.content {
	flex: 1 1 auto;
}

.container {
	max-width: 1160px;
	margin: 0 auto;
	padding: 0 10px;
}

.text {
	font-family: 'Open Sans' 'Arial' sans-serif;
	color: 	#464646;
	font-size: 15px;
	line-height: 20px;
	letter-spacing: 0.20px;
}

.title-text {
	font-family: 'Gilroy', Arial, sans-serif;
	font-size: 47px;
	font-weight: 800;
	color: #000000;

	line-height: 55px;
	letter-spacing: 0.5px;
}
//----------------------------
//---Header---//

.logo__menu {
	position: absolute;
	top: -25px;
	padding-bottom: -25px;
	font-family: 'Gilroy', sans-serif;
	font-weight: 800;
	color: #000000;
	font-size: 50px;
}
.button-text {
	margin-left: 10px;
	color: 	#000000;
}
.header {
	margin-top: 20px;
	min-height: 300px;
	position: relative;
	background-color: rgba(240, 197, 46, 0.50);
	padding: 0 60px;
	&__nav {
		padding-top: 50px;
	}
	&__button {
		border: 0px;
		background-color: transparent;
		margin-left: 5px;
		margin-top: 10px;
		&_user {
			display: flex;
			flex-direction: row;
		}
	}
	svg {
		margin-bottom: -4px;
	}
	&__list {
		display: flex;
		flex-direction: row;
	}
	&__link {
		margin-top: 50px;
		 a {
			font-family: 'Gilroy', sans-serif;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-weight: 800;
			font-size: 18px;
			 color: #000;
		 }
	}
	&__catalog {
		position: relative;
		padding-right: 290px;
	}
	&__catalog::before {
		position: absolute;
		content: '';
		display: block;
		background-color:  rgba(0, 0, 0, 0.6);
		width: 14px;
		height: 2px;
		top: 7px;
		left: 205px;
	}
	&__catalog::after {
		position: absolute;
		content: '';
		display: block;
		background-color:  rgba(0, 0, 0, 0.6);
		width: 2px;
		height: 14px;
		bottom: 2.2px;
		left: 211px;
	}

	&__delivery {
		padding-right: 50px;
	}

	&__guarantee {
		padding-right: 115px;
	}

}
.search {
	background-color: transparent;
	font-size: 15px;;
	color: #000;
	padding-right: 125px;
}
.search::placeholder {
	padding-right: 125px;
	transition: 0.3s;
	font-size: 15px;;
	color: rgba(0, 0, 0, 0.3)
}
.search:hover::placeholder  {
	color: rgba(0, 0, 0, 0.7)
}
.search:focus {
	border-bottom: 2px solid #000;
}
.search:focus::placeholder  {
	transition: 0.3s;
	color: #000;
}
.login {
	margin: 0 150px;
}
.compare {
	margin-left: 50px;
	margin-right: 45px;
}
.effect {
	position: relative;
	&__line {
		content: "";
		position: absolute;
		display: block;
		background-color: #fff;
		width: 100px;
		height: 5px;
		top: 90px;
		left: 47.5%;
	}
}
.effect01 {
	color: #fff;
	font-family: 'Gilroy', sans-serif;
	font-weight: 800;
	font-size: 160px;
	content: "";
	position: absolute;
	top: 40px;
	left: 80.5%;
}
//--------------------------------------
//---slaid---
.selfi {
	display: flex;
	flex-direction: row;
	justify-content: center;
	&__photo {
		flex: 0 1 47.5%;
		position: relative;
	}
	&__image {
		position: absolute;
		top: -110px;
		left: 17.5%
	}
}
.description {
	position: relative;
	flex: 0 1 52.5%;

		&__title {
			position: absolute;
			top: -32.5px
		}

		&__text {
			max-width: 445px;
			margin-top: 110px;
		}

		&__list {
			margin-top: 20px;
		}

		&__detal {
			z-index: 1;
			margin-top: 45px;
			display: block;
			position: relative;

			font-family: 'Gilroy', Arial, sans-serif;			
			font-weight: 800;
			font-size: 18px;
			text-transform: uppercase;
			letter-spacing: 3px;
			color: #000;
			padding: 0px 50px;
		}

		&__detal::after {
			z-index: -1;
			content:"";
			position: relative;
			display: block;
			background-color: #f0c52e;
			height: 8px;
			width: 220px;
			top: -13px;
			left: -50px;
		}

		&__number {
			
		}
}
.descriptiom {

		&__buttons {
		}
}
.charact {
	display: flex;
	margin-top: 40px;
	flex-direction: row;
		&__type {
			display: flex;
			margin-right: 80px;
			flex-direction: column;
		}

		&__title {
			font-family: 'Gilroy', sans-serif;
			color: #000;
			font-size: 36px;
			letter-spacing: 0.3px;
			line-height: 48px;
		}

		&__subtitle {
			color: #464646;
			font-size: 15px;
		}
}
//--------------------------------
//---filter---
.filter {
	margin-top: 110px;
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		flex-direction: row;

	}

	&__type {
	}

	&__imgBlock {
		position: relative;
		display: block;
		width: 160px;
		height: 160px;
		background-color: rgba(240, 197, 46, 0.50);;
	}

	&__img {
	}

	&__title {
	}
}
//-------------------------